<!-- Please heart it if you like! -->
<header>
    <link rel="stylesheet" href="../../public/css/offline.css" />
</header>
<!-- Please heart it if you like! -->
<h4 style="font-size: 25px;"><b>You are offline</b><br><b>To get completed functionality of service connect to the internet</b></h4>
<div id='book'>
    <div id='top'></div>
    <div id='front'></div>
    <div id='right'></div>
    <div id='bottom'></div>
    <div id='shadow'></div>
    <div id='bookmark'>
        <div>
            <div>
                <div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div id='bookmark-shadow'></div>
</div>
<div id='flip'>
    <div id='front'>
        <div>
            <div>
                <div>
                    <div>
                        <div>
                            <div>
                                <div>
                                    <div>
                                        <div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id='back'>
        <div>
            <div>
                <div>
                    <div>
                        <div>
                            <div>
                                <div>
                                    <div>
                                        <div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
